<!DOCTYPE html>
<html lang="en">

    <head>
        {% load static %}
        <meta charset="utf-8">
        <title>Mary Nassif Chbat</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

        <!-- Google Web Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=PT+Serif:wght@400;700&display=swap" rel="stylesheet"> 

        <!-- Icon Font Stylesheet -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

        <!-- Libraries Stylesheet -->
        <link href="{% static 'new/lib/animate/animate.min.css' %}" rel="stylesheet">
        <link href="{% static 'new/lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">
        <link href="{% static 'new/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">


        <!-- Customized Bootstrap Stylesheet -->
        <link href="{% static 'new/css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="{% static 'new/css/style.css' %}" rel="stylesheet">
    </head>

    <body>

       


        <!-- Navbar start -->
        <div class="container-fluid sticky-top px-0">
            <div class="container-fluid topbar d-none d-lg-block">
                <div class="container px-0">
                    <div class="row align-items-center">
                        <div class="col-lg-8">
                            <div class="d-flex flex-wrap">
                                <a href="#" class="me-4 text-light"><i class="fas fa-map-marker-alt text-primary me-2"></i>Sed El Boushrieh, Ossaily, Street, Lebanon</a>
                                <a href="#" class="me-4 text-light"><i class="fas fa-phone-alt text-primary me-2"></i>+961 1 895 168</a>
                                <a href="#" class="text-light"><i class="fas fa-envelope text-primary me-2"></i>info@marynassifchbat.com</a>
                            </div>

                        </div>
                        <div class="col-lg-4">
                            <div class="d-flex align-items-center justify-content-end">
                                <a href="#" class="me-3 btn-square border rounded-circle nav-fill"><i class="fab fa-facebook-f"></i></a>
                                <a href="#" class="me-3 btn-square border rounded-circle nav-fill"><i class="fab fa-twitter"></i></a>
                                <a href="#" class="me-3 btn-square border rounded-circle nav-fill"><i class="fab fa-instagram"></i></a>
                                <a href="#" class="btn-square border rounded-circle nav-fill"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid bg-light">
                <div class="container px-0">
                    <nav class="navbar navbar-light navbar-expand-xl">
                        <a href="{% url 'landing' %}" class="navbar-brand d-flex align-items-center">
                            <img src="{% static 'images/logo.png' %}" alt="Brand Logo" style="width: 60px; height: 60px; margin-right: 10px; border-radius: 50%">
                            <h1 class="text-primary display-4" style="font-size: medium; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
                                Mary Nassif Chbat
                            </h1>
                        </a>
                        <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                            <span class="fa fa-bars text-primary"></span>
                        </button>
                        <div class="collapse navbar-collapse bg-light py-3" id="navbarCollapse">
                            <div class="navbar-nav mx-auto border-top">
                                <a href="{% url 'landing' %}" class="nav-item nav-link active">Home</a>
                                <a href="{% url 'about' %}" class="nav-item nav-link">About</a>
                                <a href="{% url 'bookings' %}" class="nav-item nav-link">Bookings</a>
                                {% if request.user.is_superuser %}
                                <a href="{% url 'dashboard' %}" class="nav-item nav-link">Dashboard</a>
                                {% endif %}
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Navbar End -->


        <!-- Modal Search Start -->
        <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content rounded-0">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Search by keyword</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body d-flex align-items-center">
                        <div class="input-group w-75 mx-auto d-flex">
                            <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1">
                            <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Search End -->



        <!-- Header Start -->
        <div class="container-fluid bg-breadcrumb py-5">
            <div class="container text-center py-5">
                <h3 class="text-white display-3 mb-4">Appointment</h1>
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a href="{% url 'landing' %}">Home</a></li>
                    <li class="breadcrumb-item active text-white">Appointment</li>
                </ol>    
            </div>
        </div>
        <!-- Header End -->

        
        <!-- Appointment Start -->
<div class="container-fluid appointment py-5" style="background: var(--bs-primary);">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <div class="appointment-form p-5">
                    <p class="fs-4 text-uppercase text-primary">Get In Touch</p>
                    <h1 class="display-4 mb-4 text-white">Get Appointment</h1>
                    <form method="POST" action="{% url 'bookings' %}">
                        {% csrf_token %}
                        <div class="row gy-3 gx-4">
                            <div class="col-lg-12">
                                <select name="service" class="form-select py-3" aria-label="Select Service">
                                    {% for service in services %}
                                   
                                    <option value='{{service.servicetype}}'>{{ service.servicetype }}</option>
                                    {% endfor %}
                                    
                                </select>
                            </div>
                            <div class="col-lg-12">
                                <input name="date" type="date" class="form-control py-3 border-white bg-transparent text-white">
                            </div>
                            <div class="col-lg-12">
                                <select name='time' class="form-select py-3 " aria-label="Select Time" style="background-color: pink;">
                                    <option selected>Select Time</option>
                                    <option value="09:00">9:00 AM</option>
                                    <option value="09:30">9:30 AM</option>
                                    <option value="10:00">10:00 AM</option>
                                    <option value="10:30">10:30 AM</option>
                                    <option value="11:00">11:00 AM</option>
                                    <option value="11:30">11:30 AM</option>
                                    <option value="12:00">12:00 PM</option>
                                    <option value="12:30">12:30 PM</option>
                                    <option value="13:00">1:00 PM</option>
                                    <option value="13:30">1:30 PM</option>
                                    <option value="14:00">2:00 PM</option>
                                    <option value="14:30">2:30 PM</option>
                                    <option value="15:00">3:00 PM</option>
                                    <option value="15:30">3:30 PM</option>
                                    <option value="16:00">4:00 PM</option>
                                    <option value="16:30">4:30 PM</option>
                                    <option value="17:00">5:00 PM</option>
                                </select>
                            </div>
                            
                            <div class="col-lg-12">
                                <button type="submit" class="btn btn-primary btn-primary-outline-0 w-100 py-3 px-5">SUBMIT NOW</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="appointment-time p-5">
                    <h1 class="display-5 mb-4">Opening Hours</h1>
                    <div class="d-flex justify-content-between fs-5 text-white">
                        <p>Saturday:</p>
                        <p>09:00 am – 10:00 pm</p>
                    </div>
                    <div class="d-flex justify-content-between fs-5 text-white">
                        <p>Sunday:</p>
                        <p>09:00 am – 10:00 pm</p>
                    </div>
                    <div class="d-flex justify-content-between fs-5 text-white">
                        <p>Monday:</p>
                        <p>09:00 am – 10:00 pm</p>
                    </div>
                    <div class="d-flex justify-content-between fs-5 text-white">
                        <p>Tuesday:</p>
                        <p>09:00 am – 10:00 pm</p>
                    </div>
                    <div class="d-flex justify-content-between fs-5 text-white">
                        <p>Wednesday:</p>
                        <p>09:00 am – 08:00 pm</p>
                    </div>
                    <div class="d-flex justify-content-between fs-5 text-white mb-4">
                        <p>Thursday:</p>
                        <p>09:00 am – 05:00 pm</p>
                    </div>
                    <div class="d-flex justify-content-between fs-5 text-white mb-4">
                        <p>Friday:</p>
                        <p>CLOSED</p>
                    </div>
                    <p class="text-dark">Check out seasonal discounts for best offers.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Appointment End -->




        <!-- Footer Start -->
        <div class="container-fluid footer py-5">
            <div class="container py-5">
                <div class="row g-5">
                    
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="footer-item d-flex flex-column">
                            <h4 class="mb-4 text-white">Our Services</h4>
                            <a href=""><i class="fas fa-angle-right me-2"></i> Facials</a>
                            <a href=""><i class="fas fa-angle-right me-2"></i> Waxing</a>
                            <a href=""><i class="fas fa-angle-right me-2"></i> Message</a>
                            <a href=""><i class="fas fa-angle-right me-2"></i> Minarel baths</a>
                            <a href=""><i class="fas fa-angle-right me-2"></i> Body treatments</a>
                            <a href=""><i class="fas fa-angle-right me-2"></i> Aroma Therapy</a>
                            <a href=""><i class="fas fa-angle-right me-2"></i> Stone Spa</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="footer-item d-flex flex-column">
                            <h4 class="mb-4 text-white">Schedule</h4>
                            <p class="text-muted mb-0">Monday: <span class="text-white"> 09:00 am – 10:00 pm</span></p>
                            <p class="text-muted mb-0">Saturday: <span class="text-white"> 09:00 am – 08:00 pm</span></p>
                            <p class="text-muted mb-0">Sunday: <span class="text-white"> 09:00 am – 05:00 pm</span></p>
                            <h4 class="my-4 text-white">Address</h4>
                            <p class="mb-0"><i class="fas fa-map-marker-alt text-secondary me-2"></i> 123 ranking street North tower New York, USA</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="footer-item d-flex flex-column">
                            <h4 class="mb-4 text-white">Follow Us</h4>
                        
                            <h4 class="my-4 text-white">Contact Us</h4>
                            <p class="mb-0"><i class="fas fa-envelope text-secondary me-2"></i>info@marynassifchbat.com</p>
                            <p class="mb-0"><i class="fas fa-phone text-secondary me-2"></i> +961 1 895 168</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->



        <!-- Copyright Start -->
        <div class="container-fluid copyright py-4">
            <div class="container">
                <div class="row g-4 align-items-center">
                    <div class="col-md-4 text-center text-md-start mb-md-0">
                        <span class="text-light"><a href="#"><i class="fas fa-copyright text-light me-2"></i>Mary Nassif Chbat</a>, All right reserved.</span>
                    </div>
                    <div class="col-md-4">
                        <div class="d-flex justify-content-center">
                            <a href="" class="btn btn-light btn-light-outline-0 btn-sm-square rounded-circle me-2"><i class="fab fa-facebook-f"></i></a>
                            <a href="" class="btn btn-light btn-light-outline-0 btn-sm-square rounded-circle me-2"><i class="fab fa-twitter"></i></a>
                            <a href="" class="btn btn-light btn-light-outline-0 btn-sm-square rounded-circle me-2"><i class="fab fa-instagram"></i></a>
                            <a href="" class="btn btn-light btn-light-outline-0 btn-sm-square rounded-circle me-0"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
        <!-- Copyright End -->



        <!-- Back to Top -->
        <a href="#" class="btn btn-primary btn-primary-outline-0 btn-md-square rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>   

        
    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'new/lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'new/lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'new/lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'new/lib/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'new/lib/lightbox/js/lightbox.min.js' %}"></script>
    <script src="{% static 'new/lib/owlcarousel/owl.carousel.min.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'new/js/main.js'"></script>
    </body>

</html>