/* General Styling */
body {
	font-family: 'Lato', sans-serif;
	background-color: #f4f4f4;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh; /* Full viewport height */
	text-align: center;
}

header {
	text-align: center;
	margin-bottom: 30px;
}

header h1 {
	font-size: 50px;
	font-weight: bold;
	color: #2c3e50; /* Dark Color */
	margin-bottom: 0px;
}

header h3 {
	font-size: 20px;
	color: #7f8c8d; /* Gray for subtitle */
	margin-top: 0;
}

#booking {
	position: relative;
	width: 100%;
	max-width: 500px;
	padding: 20px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.booking-form .form-group {
	margin-bottom: 20px;
}

.booking-form .form-label {
	font-size: 16px;
	color: #34495e; /* Dark gray */
	font-weight: bold;
}

.booking-form .form-control {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 12px;
	font-size: 16px;
	color: #2c3e50; /* Dark text for readability */
	width: 100%;
}

.booking-form .form-control:focus {
	border-color: #f14634; /* Red color focus */
	box-shadow: 0px 0px 5px rgba(241, 70, 52, 0.5);
}

.booking-form .form-btn {
	text-align: center;
}

.booking-form .submit-btn {
	background-color: rgb(175, 100, 175); /* Purple button */
	color: white;
	font-size: 18px;
	font-weight: bold;
	width: 100%;
	padding: 15px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.booking-form .submit-btn:hover {
	background-color: #d3382f; /* Darker red when hovered */
}

/* Responsive Design for small screens */
@media only screen and (max-width: 767px) {
	#booking {
		width: 90%;
	}
}
